<h1>{{name}}</h1>

{{#link-to 'list.edit' class='action-edit'}}
	Edit
{{/link-to}}

<button {{action 'remove'}}>
    {{#if confirm}}
		Confirm
    {{else}}
		Delete
    {{/if}}
</button>

<ul class='items'>
    {{#each item in items}}
		<li>
			<span class='title'>{{item}}</span>
		</li>
    {{else}}
		<li class='empty'>
			No Items
		</li>
    {{/each}}
</ul>

{{outlet}}