<section>
	<h3><span class='total'>{{itemsCount}}</span> {{name}}</h3>

	<ul class='items'>
        {{#each item in items}}
			<li>
				<span class='item-quantity'>{{item.amount}}</span>
				<span class='item-title'>{{item.name}}</span>
			</li>
        {{else}}
			<li class='empty'>
				No Items
			</li>
        {{/each}}
	</ul>

    {{outlet}}
</section>