<section>
	<div class='button-group right'>
        {{#link-to 'list.edit' class='button action-edit'}}Edit{{/link-to}}

        {{#if confirm}}
			<button class='action-cancel' {{action 'cancel'}}>Cancel</button>
			<button class='action-delete' {{action 'delete'}}>Confirm</button>
        {{else}}
			<button class='action-delete' {{action 'delete'}}>Delete</button>
        {{/if}}
	</div>

	<h3><span class='total'>{{itemsCount}}</span>{{name}}</h3>

	<ul class='items'>
        {{#each item in items}}
			<li>
				<span class='item-quantity'>{{item.amount}}</span>
				<span class='item-title'>{{item.name}}</span>
			</li>
        {{else}}
			<li class='empty'>
				No Items
			</li>
        {{/each}}
	</ul>

    {{outlet}}
</section>