{{#view App.ModalView cancelAction='cancel'}}
	<form class='edit' {{action 'save' on='submit'}}>
        {{#view App.InputView title='Name' errorName='name'}}
            {{input value=name autofocus='autofocus' disabled=isLoading}}
        {{/view}}

        {{#view App.InputView title='Quantity' errorName='quantity'}}
            {{input value=quantity disabled=isLoading}}
        {{/view}}

        {{#view App.InputView title='Units' errorName='unit_id'}}
            {{view Ember.Select
            content=controllers.application.units
            optionLabelPath='content.name'
            selection=unit
            disabled=isLoading}}
        {{/view}}

        {{view App.DialogButtonsView}}
	</form>
{{/view}}