{{#view App.ModalView cancelAction='cancel'}}
	<form class='edit' {{action 'save' on='submit'}}>
        {{#view App.InputView title='Name' errorName='name'}}
            {{input value=name autofocus='autofocus' disabled=isLoading}}
        {{/view}}

		<button class='action-cancel left' {{bind-attr disabled=isLoading}} {{action 'cancel'}} type='reset'>Cancel</button>
		<button class='action-save right' {{bind-attr disabled=isLoading}} {{action 'save'}} type='submit'>Save</button>
	</form>
{{/view}}