<button class='action-cancel left' {{bind-attr disabled=isLoading}} {{action 'cancel'}} type='reset'>Cancel</button>
<button {{bind-attr class="view.buttonSaveClass :right"}} {{bind-attr disabled=isLoading}} {{action 'confirm'}} type='submit'>{{view.buttonSaveText}}</button>